.footer {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(
        to top, 
        #FFD1DC, 
        #f3b6bf, 
        rgba(255, 255, 255, 0.5)
    );
    color: #679ac4;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-brand h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-brand p {
    font-size: 0.9rem;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    justify-content: center; 
    align-items: center;
}

.social-icon {
    color: #679ac4;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #fff;
}

.footer-contact p {
    font-size: 0.9rem;
}

.footer-bottom {
    border-top: 1px solid #444;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 0.8rem;
}

.custom-footer {
    font-style: italic;
}